@charset "UTF-8";

@font-face {
    font-family: 'ordem';
    src: url('Fontes/cinta.otf.ttf') format('opentype');
    font-weight: normal;
}
.energia {
    color: purple;
}
.sangue{
    color: red;
}
.morte {
    color: black;
}
.conhecimento {
    color: yellow;
}
img {
    height: 150px;
    width: 300;
    margin-right: 10px;
}
 .texto {
    display: flex;
    float: left;
    align-items: center;
 }
 .paragrafo {
    font-size: 17px;
    padding-bottom: -30px;
    margin-top: -18px;
 }
 .titulo {
    margin-top: 40px;
 }


:root {
    --cor1:#F2F2F2;
    --cor2:#355265;
    --cor3:#0c2e45;
    --cor4:#071A26;
    --cor5:#0D0D0D;


    --font-ordem:'ordem';
}
body {
    margin: 0px;
    background-color: var(--cor4);
    
}

header{
    background-image: linear-gradient(to bottom, #355265, #071A26);
}
header > h1 {
    text-align: center;
    font-size: 3em;
    font-family: 'ordem';
    color:var(--cor1);
    padding: 20px;
    margin-top: 0px;
}
header > p {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 0px;
    color: var(--cor1);
}

nav {
    background-color:var(--cor4) ;
    padding-top: 10px;
    text-align: center;
    margin-bottom: 30px;
    
}
nav > a {
    text-decoration: none;
    font-family: 'ordem';
    margin: 20px;
    font-weight:bold;
}

main {
    background-color: var(--cor4);
    margin: auto;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 1px 1px 10px black;

    min-width: 320px;
    max-width: 1000px;

}

article {

}
article > h1 {
    color: var(--cor1);
    font-family: 'ordem';
}
article > p {
    color: white;
    margin: 10px;
    padding: 10px;
    text-indent:10px ;
    line-height: 2em;
}


